{{seriesId}}
<form {{action "save" this on="submit"}} id='form'>
  {{input type="number" value=model.number}}
  {{view "file-upload" contentBinding="file"}}
  <input type="submit" value="Enter">
</form>
