<form {{action "save" this on="submit"}} id='form'>
  <p>Number: {{input type="number" value=model.number}}</p>
  <p>File: {{view "file-upload" contentBinding="file"}}</p>
  <input type="submit" value="Enter">
</form>
