<h3>{{model.title}}</h3>
<form {{action save on='submit'}}>
  {{view Ember.TextField valueBinding="title"}}
  {{view Ember.TextField valueBinding="volume"}}
  <button type="submit">Save</button>
</form>